@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
/* Color palette*/
:root{
    --accent-color: #F4B400;
    --base-color: #FFF8E7;
    --text-color: #4A403A;
    --input-color: #F7EFD6;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Stack Sans Text", sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}
/* Login and Signup ui*/

body.register{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background.jpg);
    background-size: cover;
    overflow: hidden;
}
.wrapper{
    background-color: #F3F0FF;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(20%, 350px);
    box-shadow: 0 2px 5px 2px black;
}
h1.reg{
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}
form{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500px;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border-left: none;
    border: 2px solid var(--input-color);
    background-color: var(--input-color);
    transition: 150ms ease;
}
form input:hover{
    border-color: var(--accent-color);
}
form input:focus{
    outline: none;
    border: var(--text-color);
}
div:has(input:focus) > label{
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    transition: 150ms ease;
}
form button:hover{
    background-color: var(--text-color);
}
form button:focus{
    outline: none;
    background-color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--accent-color);
}
a:hover{
    text-decoration: underline;
}